<div class="form-group">
    <label class="control-label">
        <input type="checkbox" name="sendOnce" value="1" {{ sendOnce ? 'checked' : '' }} id="send-once-checkbox">
        {{ 'mautic.email.send_once'|trans }}
    </label>
    <div class="help-block">
        <small>{{ 'mautic.email.send_once.tooltip'|trans }}</small>
    </div>
</div>
